.view .column-wrapper {
  width: 100%;
  overflow: hidden;
}
.view .column-wrapper .column .inner {
  margin-right: 1em;
}
.view .column-wrapper .column {
  float: left;
}
.view .column-2 .column {
  width: 50%;
}
.view .column-3 .column {
  width: 33.33333%;
}
.view .column-4 .column {
  width: 25%;
}
.view .column-5 .column {
  width: 20%;
}
.view .column-6 .column {
  width: 16.66666%;
}
.view .column-7 .column {
  width: 14.28%;
}
.view .column-8 .column {
  width: 12.5%;
}
.view .column-9 .column {
  width: 11.11111%;
}
.view .column-10 .column {
  width: 10%;
}
